<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyGestureEx Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyGestureEx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>851295901A8CE24100D28776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>851295AC1A8CE24200D28776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F3EEA51A8DDC83006AE94D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F3EEBA1A8DDC83006AE94D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
